h4{
  font-family:SYNCOPATE;
  font-size:22px;
}
p{
  color:red;
  font-family:"Comic Sans MS";
  font-size: 19px;

}
#special-list{
  width:25%;
  background:red;
}
li{
  color:white;
}
#specialAAA{
  margin-top:5;
  margin-bottom:5;
}
